{% extends 'base.html' %}

{% block content %}
    <h1>Update: {{ product.name }}</h1>
    <div class="row mb-4">
        <form method="post" action="/update/{{ product.uuid }}" class="col-md-6">
            <label for="name">Product name</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Product name" value="{{ product.name }}" required>
            <input type="submit" class="btn btn-success" value="Update">
        </form>
    </div>
{% endblock %}
